# Maven
estacion/target/

dependency-reduced-pom.xml

# Docker
estacion/docker/mysql/data/


# Archivos temporales del sistema
*.log
*.tmp
*.sock

# Configuración interna
*.iml
.idea/


# Ignorar data de MySQL
estacion/docker/mysql/data/

#Ignorar carpeta de imagenes
estacion/imagenesUsuarios/


# --- Build ---
target/
*.class
*.jar
*.war
*.ear

# --- IDE ---
*.iml
.idea/
*.ipr
*.iws
*.nb-gradle/

# --- Logs ---
*.log

# --- Docker ---
docker/mysql/data/

docker/