# Maven
estacion/target/
estacion/src/main/java/culturarte/graficos/*.form
web/src/main/java/culturarte/excepciones
web/src/main/java/culturarte/logica
web/src/main/java/culturarte/utils
svc/target/

dependency-reduced-pom.xml

# Docker
estacion/docker/mysql/data/


# Archivos temporales del sistema
*.log
*.tmp
*.sock

# Configuración interna
*.iml
.idea/


# Ignorar data de MySQL
estacion/docker/mysql/data/


# --- Build ---
target/
*.class
*.jar
*.war
*.ear

# --- IDE ---
*.iml
.idea/
*.ipr
*.iws
*.nb-gradle/

# --- Logs ---
*.log

# --- Docker ---
docker/mysql/data/

docker/
/svc/nbproject/
